/* Cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f2f2f2;
}

/* El título */
h1 {
    background-color: #1db2e8;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

/* El contenedor principal */
.container {
    text-align: center;
    margin: 0 auto; 
    max-width: 400px;
    padding: 20px; 
}


/* Los controles */
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Las etiquetas de los controles */
label {
    font-weight: bold;
    margin-right: 10px;
}

/* El selector de color */
#colorPicker {
    margin-right: 20px;
}

/* El control deslizante de tamaño */
#sizeSlider {
    width: 200px; 
    margin-left: 10px; 
    flex-grow: 1;
    margin-bottom: 0; 
}

/* La selección de formas */
#shapeSelect {
    margin-top: 10px; /* Espacio superior para separar de los controles anteriores */
    width: auto;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* El botón de borrar */
#clearButton {
    background-color: #3392ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

#clearButton:hover {
    background-color: #207dff;
}
